
body {
  /* background: url(../img/folds.jpg) no-repeat 50% 50% fixed; */
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* .sc-play {
  border: 5px solid black;
  margin: 0 1.0rem;
  padding: 50px;
} */
.content {
  border: 1px solid rgba(27,31,35,0.15);
  background-color: #fff;
  padding: 10px;
  border-radius: .4rem;
}
.title {
  color: #fff;
  font-size: 5em;
  font-family: sans-serif;
  text-align: center;
  border-radius: .4rem;
  text-shadow: -1px 0 #1b1f23, 0 1px #1b1f23, 1px 0 #1b1f23, 0 -1px #1b1f23;
}

.left {
  text-align: left !important;
}

.right {
  text-align: right !important;
}

.center {
  text-align: center !important;
}

.tag1, .tag2, .tag3 {
  color: #fff;
  border: 0.1rem solid #9b4dca;
  border-radius: .4rem;
  display: inline-block;
  font-size: 0.5rem;
  font-weight: 700;
  height: 2.5rem;
  letter-spacing: .1rem;
  line-height: 2.5rem;
  padding: 0 1.0rem;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  white-space: nowrap;
}
.tag1 {
  background-color: #9b4dca;
  border: 0.1rem solid #9b4dca;
}
.tag2 {
  background-color: #46a5dc;
  border: 0.1rem solid #46a5dc;
}
.tag3 {
  background-color: rgb(204, 68, 0);
  border: 0.1rem solid rgb(204, 68, 0);
}
