/* main */

body {
  /* background: url(../img/folds.jpg) no-repeat 50% 50% fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; */
}

h2, h3, h4, h5, h6 {
  margin-bottom: 0;
}

hr {
  margin: 2rem 0;
}

/* main content */

.title {
  color: #ffd526;
  font-size: 5em;
  font-family: sans-serif;
  text-align: center;
  border-radius: .4rem;
  text-shadow: -0.25px 0 #1b1f23, 0 0.25px #1b1f23, 0.25px 0 #1b1f23, 0 -0.25px #1b1f23;
}

.content {
  border: 1px solid rgba(27, 31, 35, 0.15);
  background-color: #fff;
  padding: 10px;
  border-radius: .4rem;
}

/* text-center */

.center {
  text-align: center !important;
}

.left {
  text-align: left !important;
}

.right {
  text-align: right !important;
}

/* view-more */
.button.button-outline {
  /* text-shadow: -0.25px 0 #fff, 0 0.25px #fff, 0.25px 0 #fff, 0 -0.25px #fff; */
  border: 0.1rem solid #ffd526;
  color: #606c76;
}

/* tags */

.tag1, .tag2, .tag3 {
  color: #fff;
  border: 0.1rem solid #9b4dca;
  border-radius: .4rem;
  display: inline-block;
  font-size: 0.7rem;
  font-weight: 700;
  height: 2.5rem;
  letter-spacing: .1rem;
  line-height: 2.5rem;
  padding: 0 1.0rem;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  white-space: nowrap;
}

.tag1 {
  background-color: #9b4dca;
  border: 0.1rem solid #9b4dca;
}

.tag2 {
  background-color: #46a5dc;
  border: 0.1rem solid #46a5dc;
}

.tag3 {
  background-color: #cc4400;
  border: 0.1rem solid #cc4400;
}
